<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:networkSecurityConfig="@xml/mdc_acceptance_network_security">
        <receiver
            android:name=".AcceptanceUpdateReceiver"
            android:exported="true" />
    </application>
</manifest>
